<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE web-app>
<web-app>   

   <url-mapping>
        <url>/admin/signIn</url>
        <method>AuthController.singInAdmin</method>
   </url-mapping>
   <url-mapping>
        <url>/admin/users</url>
        <method>AdminController.getUsers</method>
   </url-mapping>
   <url-mapping>
        <url>/admin/users/{id}</url>
        <method>AdminController.deleteUser</method>
   </url-mapping>

   <url-mapping>
        <url>/signUp</url>
        <method>AuthController.signUp</method>
   </url-mapping>
   <url-mapping>
        <url>/signIn</url>
        <method>AuthController.signIn</method>
   </url-mapping>

   <url-mapping>
        <url>/categories</url>
        <method>CategoriesController.saveCategory</method>
   </url-mapping>
   <url-mapping>
        <url>/categories/{id}</url>
        <method>ProductsController.getProductByCategory</method>
   </url-mapping>
   <url-mapping>
        <url>/categories</url>
        <method>CategoriesController.getCategories</method>
   </url-mapping>

   <url-mapping>
        <url>/orders</url>
        <method>OrdersController.saveOrder</method>
   </url-mapping>
   <url-mapping>
        <url>/orders/{id}</url>
        <method>OrdersController.getOrder</method>
   </url-mapping>
   <url-mapping>
        <url>/orders/{id}</url>
        <method>OrdersController.setState</method>
   </url-mapping>
   <url-mapping>
        <url>/orders/pay/{orderid}{cardid}</url>
        <method>OrdersController.payOrder</method>
   </url-mapping>
   <url-mapping>
        <url>/orders/addItem/{id}{quantity}</url>
        <method>OrdersController.addOrderItem</method>
   </url-mapping>
   <url-mapping>
        <url>/orders/removeItem/{id}</url>
        <method>OrdersController.removeOrderItem</method>
   </url-mapping>

   <url-mapping>
        <url>/products</url>
        <method>ProductsController.saveProduct</method>
   </url-mapping>
   <url-mapping>
        <url>/products/{id}</url>
        <method>ProductsController.getProduct</method>
   </url-mapping>
   <url-mapping>
        <url>/products/uploadPhoto</url>
        <method>PhotosController.uploadProductPhoto</method>
   </url-mapping>
   <url-mapping>
        <url>/products</url>
        <method>ProductsController.getProducts</method>
   </url-mapping>
   <url-mapping>
        <url>/products/{id}</url>
        <method>ProductsController.setState</method>
   </url-mapping>

   <url-mapping>
        <url>/shops/uploadPhoto</url>
        <method>PhotosController.uploadShopPhoto</method>
   </url-mapping>
   <url-mapping>
        <url>/shops/products/{id}</url>
        <method>ProductsController.getProductsByShop</method>
   </url-mapping>
   <url-mapping>
        <url>/shops/orders/{id}</url>
        <method>OrdersController.getOrdersByShop</method>
   </url-mapping>
   <url-mapping>
        <url>/shops/products/xml/{id}</url>
        <method>ProductsController.getProductsByShopInXML</method>
   </url-mapping>
   <url-mapping>
        <url>/shops</url>
        <method>ShopsController.saveShop</method>
   </url-mapping>
   <url-mapping>
        <url>/shops/{id}</url>
        <method>ShopsController.getShop</method>
   </url-mapping>
   <url-mapping>
        <url>/shops</url>
        <method>ShopsController.getShops</method>
   </url-mapping>

   <url-mapping>
        <url>/users/{id}</url>
        <method>UsersController.getUser</method>
   </url-mapping>
   <url-mapping>
        <url>/users/{id}</url>
        <method>UsersController.editUser</method>
   </url-mapping>
   <url-mapping>
        <url>/users/{id}</url>
        <method>UsersController.deleteUser</method>
   </url-mapping>
   <url-mapping>
        <url>/users/{email}</url>
        <method>UsersController.getUserByMail</method>
   </url-mapping>
   <url-mapping>
        <url>/users/orders/{id}</url>
        <method>OrdersController.getOrdersByUser</method>
   </url-mapping>
   <url-mapping>
        <url>/users/forgotPassword</url>
        <method>PasswordForgotController.processForgotPassword</method>
   </url-mapping>
    <url-mapping>
        <url>/users/resetPassword/{token}</url>
        <method>PasswordForgotController.processForgotPassword</method>
   </url-mapping>

</web-app>